html, body {
  //width: 100%;
  min-width: 1200px;
  height: 100%;
  min-height: 750px;
  box-sizing: border-box;
}

ol, ul {
  padding: 0;
  list-style: none
}

.fix:after{
  content: '';
  display: table;
  clear: both;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.f-cur {
  cursor: pointer;
}
.container{
  width: 100%;
  height: 100%;
  /*background: #2475AD;*/
}
.inner{
  width: 100%;
  height: 100%;
}
.title{
  width: 100%;
  height: 30px;
  color: #ffffff;
  text-align: left;
  line-height: 30px;
  padding-right: 5px;
  background: linear-gradient(to right, #022F66, #3262A0);
  .dot{
    display: inline-block;
    width: 5px;
    height: 5px;
    line-height: 30px;
    margin: 3px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 2px;
  }
  .title-text{
    display: inline-block;
    width: 40%;
    background: linear-gradient(to right, #b0b8bf, transparent);
  }
}

::-webkit-scrollbar {
  width: 10px; /*对垂直流动条有效*/
  height: 10px; /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: linear-gradient(#052357, #3262A0);
  box-shadow: inset 0px 0px 10px #008EAE;
  border-radius: 3px;
}


/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb{
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ccc;
}

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
  /*background-color:cyan;*/
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  /*background:khaki;*/
}

html, body{
  scrollbar-arrow-color: #f4ae21; /**//*三角箭头的颜色*/
  scrollbar-face-color: #ccc; /**//*立体滚动条的颜色*/
  scrollbar-3dlight-color: #ccc; /**//*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: #ccc; /**//*滚动条空白部分的颜色*/
  scrollbar-shadow-color: #ccc; /**//*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: #052357; /**//*立体滚动条强阴影的颜色*/
  scrollbar-track-color: #3262A0; /**//*立体滚动条背景颜色*/
  scrollbar-base-color:#f8f8f8; /**//*滚动条的基本颜色*/
}